*{
    padding: 0;
    margin: 0;
    font-family: sans-serif    ;
}

body{
    background: url(/images/fondo.png);
    background-attachment: fixed;
}

a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    background: #18171c;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    color: white;
}

.logo img{
    height: 50px;
    width: 48px;
}

nav a:hover{
    background: #373440;
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.infoSquare{
    background-color: rgba(31, 136, 216, 0.359);
    height: 50vh;
    width: 70vh;
    border-style: solid;
    border-color: black;
    border-width: 5px;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

}

.infoSquare p{
    width: 70%;

    font-weight: bold;
}


@media (max-width:700px){
    header{
        flex-direction: column;
    }


    nav{
        padding: 10px 0px;
    }
}